* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
	scrollbar-gutter: stable;
}

body {
	font-family: InterWeb, sans-serif;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1;
	color: $color-black;
	overflow-x: hidden;
	background-color: $color-white;
}

button {
	padding: 0;
	cursor: pointer;
	outline: none;
}

::selection {
	background-color: $color-black;
	color: $color-white;
	text-shadow: none;
}

#wrap {
	min-width: 320px;
}

.blind {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}