@mixin grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 3rem;
  margin: 0 auto;
  padding: 0 3rem;
  width: 100%;

  @include not-mobile {
    gap: 0 6rem;
    padding: 0 6rem;
  }

  @include desktop {
    grid-template-columns: repeat(4, 1fr);
    gap: 0 5.20833vw;
    padding: 0 7.8125vw;
  }

  @include desktop-medium {
    gap: 0 7.8125vw;
    padding: 0 7.8125vw;
  }
}

// media query
@mixin mobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin not-mobile {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 1023px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin desktop-medium {
  @media screen and (min-width: 1240px) {
    @content;
  }
}

@mixin desktop-large {
  @media screen and (min-width: 1920px) {
    @content;
  }
}



@mixin hover {
  @media (hover: hover) {
    @content;
  }
}