.header__logo {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: $z-index--logo;
	width: 100%;

	&.white {
		color: $color-white;
	}

	&.is-blended {
		mix-blend-mode: difference;
	}

	.is-nav-open & {
		opacity: 0;
	}

	&__link {
		display: block;
	}

	@at-root .logo {
		&__icon {
			position: absolute;
			transition: transform 2s;

			svg {
				width: 100%;
				height: 100%;
				fill: currentColor;
				image-rendering: -webkit-optimize-contrast;
			}

			&--left {
				top: calc(50% - 4.53333vw);
				left: 1rem;
				width: 51.73333vw;
				height: 9.06667vw;
				transform-origin: left center;

				.scale & {
					transform: scale(0.4072, 0.4072);
				}

				@include desktop {
					top: calc(50% - 4.6875vw);
					left: .52083vw;
					width: 54.01042vw;
					height: 9.375vw;

					.scale & {
						transform: scale(0.1215, 0.1215);
					}
				}

				@include desktop-large {
					left: 1rem;
				}

				@include tablet {
					path {
						transition: transform .3s cubic-bezier(.32, .94, .6, 1);

						&:nth-child(2) {
							transition-delay: .18s;
						}

						&:nth-child(3) {
							transition-delay: .15s;
						}

						&:nth-child(4) {
							transition-delay: .12s;
						}

						&:nth-child(5) {
							transition-delay: .09s;
						}

						&:nth-child(6) {
							transition-delay: .06s;
						}

						&:nth-child(7) {
							transition-delay: .03s;
						}

						.abbreviation & {
							&:nth-child(n+2) {
								transform: translateY(110%);
							}
						}
					}
				}
			}

			&--center {
				top: calc(50% - 4.53333vw);
				left: calc(60% - 3.86667vw);
				width: 7.73333vw;
				height: 9.06667vw;
				transform-origin: left center;

				.scale & {
					transform: translate(-98%, 0px) scale(0.4135, 0.4135);
				}

				@include desktop {
					top: calc(50% - 4.79167vw);
					left: calc(60% - 4.03646vw);
					width: 8.07292vw;
					height: 9.58333vw;

					.scale & {
						transform: translate(-78%, 0px) scale(0.1161, 0.1161);
					}
				}
			}

			&--right {
				top: calc(50% - 4.53333vw);
				right: 1rem;
				width: 31.46667vw;
				height: 9.06667vw;
				transform-origin: right center;

				.scale & {
					transform: scale(0.4068, 0.4068);
				}

				@include desktop {
					top: calc(50% - 4.79167vw);
					right: .52083vw;
					width: 33.07292vw;
					height: 9.58333vw;

					.scale & {
						transform: scale(0.1213, 0.1213);
					}
				}

				@include desktop-large {
					right: 1rem;
				}

				@include tablet {
					path {
						transition: transform .6s cubic-bezier(.32, .94, .6, 1);

						&:nth-child(1) {
							transition-delay: 0s;
						}

						&:nth-child(2) {
							transition-delay: .06s;
						}

						&:nth-child(3) {
							transition-delay: .09s;
						}

						&:nth-child(4) {
							transition-delay: .12s;
						}

						&:nth-child(5) {
							transition-delay: .12s;
						}

						&:nth-child(6) {
							transition-delay: .15s;
						}

						.abbreviation & {
							&:nth-child(1) {
								transform: translateX(73.4%);
								transition-delay: .24s;
							}

							&:nth-child(n+2) {
								transform: translateY(110%);
								;
							}
						}
					}
				}
			}
		}
	}
}

.global-nav {
	&__menu {
		position: fixed;
		top: 1rem;
		right: 1rem;
		z-index: 1;
		display: flex;
		align-items: center;
		width: 3.6rem;
		height: 2.9rem;
		color: $color-white;
		mix-blend-mode: difference;

		.is-nav-open & {
			z-index: $z-index--menu;
		}

		@include desktop {
			display: none;
		}

		&::before {
			content: '';
			position: absolute;
			top: -2rem;
			left: -2rem;
			right: -2rem;
			bottom: -2rem;
		}

	}

	&__panel {
		position: fixed;
		top: 0;
		left: 0;
		z-index: $z-index--gnb;
		color: $color-white;

		&.is-blended {
			mix-blend-mode: difference;
		}

		@include tablet {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 100%;
			height: 100%;
			opacity: 0;
			pointer-events: none;
			background-color: $color-black;
			transition: opacity .3s cubic-bezier(.32, .94, .6, 1);

			.is-nav-open & {
				opacity: 1;
				pointer-events: auto;
				transition-duration: .6s;
			}
		}

		@include desktop {
			top: .52083vw;
			left: auto;
			right: .52083vw;
		}

		@include desktop-large {
			top: 1rem;
			right: 1rem;
		}
	}

	&__open {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 3.6rem;
		height: 1.7rem;

		.global-nav__line {
			transform: scaleX(0);
			transition: transform .8s cubic-bezier(.32, .94, .6, 1);

			.is-visible &,
			.is-visible &::before {
				transform: scaleX(1);
			}

			.is-nav-open &,
			.is-nav-open &::before {
				transform: scaleX(0);
			}

			&:nth-child(1) {
				&::before {
					transition-delay: .65s;

					.is-nav-open & {
						transition-delay: 0s;
					}
				}
			}

			&:nth-child(2) {
				transition-delay: .1s;

				&::before {
					transition-delay: .75s;

					.is-nav-open & {
						transition-delay: .1s;
					}
				}
			}
		}
	}

	&__close {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		width: 100%;
		height: 100%;

		.global-nav__line {
			position: absolute;
			top: 50%;
			left: 50%;
			translate: -50% -50%;

			&::before {
				transform: scaleX(0);

				.is-nav-open & {
					transform: scaleX(1);
				}
			}

			&:first-child {
				transform: rotate(45deg);

				&::before {
					transition-delay: 0s;

					.is-nav-open & {
						transition-delay: .65s;
					}
				}
			}

			&:nth-child(2) {
				transform: rotate(-45deg);

				&::before {
					transition-delay: .1s;

					.is-nav-open & {
						transition-delay: .75s;
					}
				}
			}
		}
	}

	&__line {
		display: block;
		width: 3.6rem;
		height: .5rem;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: currentColor;
			transform-origin: right;
			transition: transform .8s cubic-bezier(.32, .94, .6, 1);
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		padding: 1rem;

		@include desktop {
			flex-direction: row;
			column-gap: .78125vw;
			padding: 0;
		}
	}

	&__item {
		@include tablet {
			&:last-child {
				display: none;
			}
		}
	}

	&__link {
		position: relative;
		display: flex;
		font-size: 1.4rem;
		font-weight: 700;
		line-height: 1;
		color: currentColor;
		letter-spacing: -.03em;
		text-transform: uppercase;
		text-align: center;

		@include tablet {
			font-size: 6rem;
			letter-spacing: -.07em;
			line-height: .85;
			transform: scale(0);
			transform-origin: left bottom;
			transition: transform .8s cubic-bezier(.32, .94, .6, 1);

			.is-nav-open & {
				transform: scale(1);
			}

			.global-nav__item:nth-child(1) & {
				transition-delay: .26s;
			}

			.global-nav__item:nth-child(2) & {
				transition-delay: .32s;
			}

			.global-nav__item:nth-child(3) & {
				transition-delay: .38s;
			}
		}

		@include desktop {
			font-size: 1.51042vw;
		}

		@include desktop-large {
			line-height: .7;
		}

		&::before {
			display: none;
			content: '';
			position: absolute;
			bottom: -.8rem;
			left: 0;
			width: 100%;
			height: .3rem;
			background-color: currentColor;
			transform: scaleX(0);
			transform-origin: right;
			transition: transform .8s cubic-bezier(.32, .94, .6, 1);

			.global-nav__item.is-active & {
				transform: scaleX(1);
				transform-origin: left;
			}

			@include desktop {
				display: block;
			}
		}

		&:hover {
			&::before {
				transform: scaleX(1);
				transform-origin: left;
			}
		}
	}

	.footer {
		margin-top: 0;
		padding-bottom: 0;
	}

	.footer__content {
		row-gap: 2rem;
		padding-bottom: 2.2rem;
		opacity: 0;
		transition: opacity .6s cubic-bezier(.32, .94, .6, 1) .4s;

		@include mobile {
			grid-template-columns: auto;
		}

		@include desktop {
			display: none;
		}
	}

	.footer__list {
		text-align: center;

		&--office .footer__item {
			justify-content: center;
		}

		&--contact .footer__item {
			align-items: center;
		}
	}

	.is-nav-open & .footer__content {
		opacity: 1;
	}

	.footer__logos {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding: 0 1rem;
		fill: $color-white;

		@include desktop {
			display: none;
		}
	}

	.footer__logo {
		height: 3.73333vw;
		width: auto;
		margin: 0;

		&--center {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
		}

		svg {
			width: 100%;
			height: 100%;
		}
	}
}