/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  vertical-align: top;
}

input, select, button {
  font: inherit;
  color: inherit;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: InterWeb, sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
  color: #000;
  overflow-x: hidden;
  background-color: #fff;
}

button {
  padding: 0;
  cursor: pointer;
  outline: none;
}

::-moz-selection {
  background-color: #000;
  color: #fff;
  text-shadow: none;
}

::selection {
  background-color: #000;
  color: #fff;
  text-shadow: none;
}

#wrap {
  min-width: 320px;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

@font-face {
  font-family: InterWeb;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Inter-Bold.db4fc67.woff) format("woff"), url(/_nuxt/fonts/Inter-Bold.15f1c0b.woff2) format("woff2");
}
.global-nav__menu {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  z-index: 20;
  width: 3.6rem;
  height: 2.9rem;
  color: #fff;
  mix-blend-mode: difference;
}
.global-nav__menu::before {
  content: "";
  position: absolute;
  top: -2rem;
  left: -2rem;
  right: -2rem;
  bottom: -2rem;
}
@media screen and (min-width: 1024px) {
  .global-nav__menu {
    display: none;
  }
}
.global-nav__panel {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  color: #fff;
}
.global-nav__panel.is-blended {
  mix-blend-mode: difference;
}
@media screen and (max-width: 1023px) {
  .global-nav__panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    background-color: #000;
    transition: opacity 0.3s cubic-bezier(0.32, 0.94, 0.6, 1);
  }
  .is-nav-open .global-nav__panel {
    opacity: 1;
    pointer-events: auto;
    transition-duration: 0.6s;
  }
}
@media screen and (min-width: 1024px) {
  .global-nav__panel {
    top: 0.52083vw;
    left: auto;
    right: 0.52083vw;
  }
}
@media screen and (min-width: 1920px) {
  .global-nav__panel {
    top: 1rem;
    right: 1rem;
  }
}
.global-nav__open {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 3.6rem;
  height: 1.7rem;
}
.global-nav__open .global-nav__line {
  transform: scaleX(0);
  transition: transform 0.8s cubic-bezier(0.32, 0.94, 0.6, 1);
}
.is-visible .global-nav__open .global-nav__line, .is-visible .global-nav__open .global-nav__line::before {
  transform: scaleX(1);
}
.is-nav-open .global-nav__open .global-nav__line, .is-nav-open .global-nav__open .global-nav__line::before {
  transform: scaleX(0);
}
.global-nav__open .global-nav__line:nth-child(1)::before {
  transition-delay: 0.65s;
}
.is-nav-open .global-nav__open .global-nav__line:nth-child(1)::before {
  transition-delay: 0s;
}
.global-nav__open .global-nav__line:nth-child(2) {
  transition-delay: 0.1s;
}
.global-nav__open .global-nav__line:nth-child(2)::before {
  transition-delay: 0.75s;
}
.is-nav-open .global-nav__open .global-nav__line:nth-child(2)::before {
  transition-delay: 0.1s;
}
.global-nav__close {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
}
.global-nav__close .global-nav__line {
  position: absolute;
  top: calc(50% - 0.2rem);
  left: calc(50% - 1.8rem);
}
.global-nav__close .global-nav__line::before {
  transform: scaleX(0);
}
.is-nav-open .global-nav__close .global-nav__line::before {
  transform: scaleX(1);
}
.global-nav__close .global-nav__line:first-child {
  transform: rotate(45deg);
}
.global-nav__close .global-nav__line:first-child::before {
  transition-delay: 0s;
}
.is-nav-open .global-nav__close .global-nav__line:first-child::before {
  transition-delay: 0.65s;
}
.global-nav__close .global-nav__line:nth-child(2) {
  transform: rotate(-45deg);
}
.global-nav__close .global-nav__line:nth-child(2)::before {
  transition-delay: 0.1s;
}
.is-nav-open .global-nav__close .global-nav__line:nth-child(2)::before {
  transition-delay: 0.75s;
}
.global-nav__line {
  display: block;
  width: 3.6rem;
  height: 0.5rem;
}
.global-nav__line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: currentColor;
  transform-origin: right;
  transition: transform 0.8s cubic-bezier(0.32, 0.94, 0.6, 1);
}
.global-nav__list {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
@media screen and (min-width: 1024px) {
  .global-nav__list {
    flex-direction: row;
    -moz-column-gap: 0.78125vw;
         column-gap: 0.78125vw;
    padding: 0;
  }
}
@media screen and (max-width: 1023px) {
  .global-nav__item:last-child {
    display: none;
  }
}
.global-nav__link {
  position: relative;
  display: flex;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: currentColor;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (max-width: 1023px) {
  .global-nav__link {
    font-size: 6rem;
    letter-spacing: -0.07em;
    line-height: 0.85;
    transform: scale(0);
    transform-origin: bottom left;
    transition: transform 0.8s cubic-bezier(0.32, 0.94, 0.6, 1);
  }
  .is-nav-open .global-nav__link {
    transform: scale(1);
  }
  .global-nav__item:nth-child(1) .global-nav__link {
    transition-delay: 0.26s;
  }
  .global-nav__item:nth-child(2) .global-nav__link {
    transition-delay: 0.32s;
  }
  .global-nav__item:nth-child(3) .global-nav__link {
    transition-delay: 0.38s;
  }
}
@media screen and (min-width: 1024px) {
  .global-nav__link {
    font-size: 1.51042vw;
  }
}
@media screen and (min-width: 1920px) {
  .global-nav__link {
    line-height: 0.7;
  }
}
.global-nav__link::before {
  display: none;
  content: "";
  position: absolute;
  bottom: -0.8rem;
  left: 0;
  width: 100%;
  height: 0.3rem;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.8s cubic-bezier(0.32, 0.94, 0.6, 1);
}
.global-nav__item.is-active .global-nav__link::before {
  transform: scaleX(1);
  transform-origin: left;
}
@media screen and (min-width: 1024px) {
  .global-nav__link::before {
    display: block;
  }
}
.global-nav__link:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
.global-nav .footer__content {
  row-gap: 2rem;
  padding-bottom: 2.2rem;
  opacity: 0;
  transition: opacity 0.6s cubic-bezier(0.32, 0.94, 0.6, 1) 0.4s;
}
@media screen and (max-width: 767px) {
  .global-nav .footer__content {
    grid-template-columns: auto;
  }
}
@media screen and (min-width: 1024px) {
  .global-nav .footer__content {
    display: none;
  }
}
.global-nav .footer__list {
  text-align: center;
}
.global-nav .footer__list--office .footer__item {
  justify-content: center;
}
.global-nav .footer__list--contact .footer__item {
  align-items: center;
}
.is-nav-open .global-nav .footer__content {
  opacity: 1;
}
.global-nav .footer__logos {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem;
  fill: #fff;
}
@media screen and (min-width: 1024px) {
  .global-nav .footer__logos {
    display: none;
  }
}
.global-nav .footer__logo {
  height: 3.73333vw;
  width: auto;
  margin: 0;
}
.global-nav .footer__logo--center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.global-nav .footer__logo svg {
  width: 100%;
  height: 100%;
}

.footer {
  overflow: hidden;
  padding: 18rem 0 1rem;
}
@media screen and (min-width: 1024px) {
  .footer {
    padding: 30rem 0 0.52083vw;
  }
}
@media screen and (min-width: 1240px) {
  .footer {
    padding-top: 15.625vw;
  }
}
@media screen and (min-width: 1920px) {
  .footer {
    padding-bottom: 1rem;
  }
}
.footer__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 3rem;
  margin: 0 auto;
  padding: 0 3rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer__content {
    gap: 0 6rem;
    padding: 0 6rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer__content {
    grid-template-columns: repeat(4, 1fr);
    gap: 0 5.20833vw;
    padding: 0 7.8125vw;
  }
}
@media screen and (min-width: 1240px) {
  .footer__content {
    gap: 0 7.8125vw;
    padding: 0 7.8125vw;
  }
}
@media screen and (max-width: 1023px) {
  .footer__content {
    row-gap: 2.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer__content {
    row-gap: 1.45833vw;
  }
}
.footer__column {
  display: flex;
  flex-direction: column;
  grid-column-end: span 2;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .footer__column {
    grid-column-end: span 1;
    justify-content: flex-end;
    row-gap: 0.4em;
  }
}
.footer__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-size: 1.4rem;
  letter-spacing: -0.05em;
  line-height: 1.2;
}
@media screen and (min-width: 1024px) {
  .footer__list {
    font-size: 1.04167vw;
    line-height: 1;
  }
}
@media screen and (min-width: 768px) {
  .footer__list {
    justify-content: flex-end;
    row-gap: 0.4em;
  }
}
.footer__list--social {
  row-gap: 0.2em;
}
.footer__list--contact .footer__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .footer__list--contact .footer__item {
    row-gap: 0.4em;
  }
}
.footer__list--office .footer__item {
  display: flex;
  white-space: nowrap;
}
.clock {
  display: flex;
  margin-left: 5px;
}
.clock__colon {
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
.footer__link {
  position: relative;
}
.footer__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: currentColor;
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.4s cubic-bezier(0.32, 0.94, 0.6, 1);
}
.footer__link:hover::before {
  transform: scaleX(0);
  transform-origin: right;
}
.footer__logo {
  display: flex;
  margin: 3.2rem 1rem 0;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    margin-left: 1.5625vw;
    margin-right: 1.5625vw;
  }
}
@media screen and (min-width: 1024px) {
  .footer__logo {
    margin: 4.27083vw 0.52083vw 0;
  }
}
@media screen and (min-width: 1920px) {
  .footer__logo {
    margin: 8.2rem 1rem 0;
  }
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 40;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100svh;
  padding: 1rem;
  background-color: #fff;
}
@media screen and (min-width: 1024px) {
  .loading {
    padding: 0.52083vw 0;
  }
}
@media screen and (min-width: 1920px) {
  .loading {
    padding: 1rem 0;
  }
}
.loading__content {
  display: flex;
  width: 100%;
  font-size: 6.25vw;
  line-height: 0.8;
  letter-spacing: -0.05em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .loading__content {
    font-size: 4.16667vw;
  }
}
@media screen and (min-width: 1024px) {
  .loading__content {
    font-size: 2.60417vw;
  }
}
.loading__content:nth-child(1) {
  justify-content: center;
  text-align: center;
}
.marquee {
  display: flex;
  width: 100%;
}
.marquee__inner {
  display: flex;
}
.marquee__texts {
  display: flex;
  animation-name: marquee;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}
.marquee__text {
  -moz-column-gap: 0.7em;
       column-gap: 0.7em;
  display: flex;
  padding-left: 0.7em;
  white-space: nowrap;
}

@keyframes marquee {
  0% {
    transform: translate(-100%, 0px);
  }
  100% {
    transform: translate(-200%, 0px);
  }
}
.section-home {
  height: 300lvh;
}
.section-home__inner {
  position: relative;
  padding-bottom: 50lvh;
  height: 100%;
}
.section-home__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.section-home__sticky {
  position: sticky;
  top: 0;
  height: 100lvh;
  overflow: hidden;
}
.section-home__list {
  z-index: 1;
}
.section-home__list--top {
  position: absolute;
  top: 2.13333vw;
  left: 0.4rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .section-home__list--top {
    top: 0.52083vw;
    left: 0.26042vw;
  }
}
@media screen and (min-width: 1920px) {
  .section-home__list--top {
    top: 1rem;
    left: 0.4rem;
  }
}
.section-home__list--bottom {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: calc(50dvh + 4vw);
  padding-right: 2.66667vw;
}
@media screen and (min-width: 768px) {
  .section-home__list--bottom {
    padding-right: 1.5625vw;
  }
}
@media screen and (min-width: 1024px) {
  .section-home__list--bottom {
    margin-top: calc(50dvh + 1.04167vw);
    padding-right: 0.72917vw;
  }
}
.section-home__item {
  display: flex;
  font-size: 6rem;
  letter-spacing: -0.07em;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  transform: scale(0);
}
@media screen and (min-width: 768px) {
  .section-home__item {
    font-size: 13.54167vw;
  }
}
@media screen and (min-width: 1024px) {
  .section-home__item {
    font-size: 10.41667vw;
  }
}
.section-home__item:not(:first-child) {
  top: 0;
  left: 0;
}
.section-home__list--top .section-home__item {
  line-height: 0.85;
}
@media screen and (min-width: 1024px) {
  .section-home__list--top .section-home__item {
    line-height: 0.77;
  }
}
@media screen and (min-width: 1920px) {
  .section-home__list--top .section-home__item {
    line-height: 0.73;
  }
}
.section-home__list--bottom .section-home__item {
  line-height: 0.79;
  white-space: nowrap;
}
.section-home__videos {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.section-home__videos::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.section-home__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
  -webkit-mask-image: -webkit-radial-gradient(#fff, #000);
  will-change: transform;
}
.section-home__video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: opacity 0.4s;
}

.section-about {
  margin: 1rem 0 11.7rem;
}
@media screen and (min-width: 1024px) {
  .section-about {
    margin: 1.04167vw 0 10.9375vw;
  }
}
@media screen and (min-width: 1920px) {
  .section-about {
    margin-top: 2rem;
  }
}
.section-about__headline {
  margin-bottom: 7rem;
  padding-right: 0.5rem;
  font-size: 6rem;
  letter-spacing: -0.07em;
  line-height: 0.85;
}
@media screen and (min-width: 768px) {
  .section-about__headline {
    font-size: 13.54167vw;
  }
}
@media screen and (min-width: 1024px) {
  .section-about__headline {
    margin-bottom: 6.09375vw;
    padding-left: 0;
    padding-right: 0.52083vw;
    font-size: 10.41667vw;
    line-height: 0.77;
  }
}
@media screen and (min-width: 1920px) {
  .section-about__headline {
    padding-right: 1rem;
    line-height: 0.73;
  }
}
.headline__row--flex {
  display: flex;
}
.headline__row--flex .headline__word:nth-child(2) {
  margin-left: auto;
}
@media screen and (min-width: 1024px) {
  .headline__row--flex .headline__word:nth-child(2) {
    margin-top: 20.5135vh;
  }
}

.section-about__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 3rem;
  margin: 0 auto;
  padding: 0 3rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .section-about__grid {
    gap: 0 6rem;
    padding: 0 6rem;
  }
}
@media screen and (min-width: 1024px) {
  .section-about__grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 0 5.20833vw;
    padding: 0 7.8125vw;
  }
}
@media screen and (min-width: 1240px) {
  .section-about__grid {
    gap: 0 7.8125vw;
    padding: 0 7.8125vw;
  }
}
.section-about__content {
  grid-column: 1/span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .section-about__content {
    grid-column: 3/span 1;
    align-items: flex-start;
  }
}
.section-about__description {
  padding-bottom: 1.8rem;
  font-size: 2rem;
  line-height: 1;
  letter-spacing: -0.05em;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  .section-about__description {
    padding-bottom: 1.40625vw;
    font-size: 2.08333vw;
    text-align: left;
  }
}
.section-about__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  padding: 0 1.5rem;
  font-size: 1.6rem;
  line-height: 1;
  color: currentColor;
  border-radius: 50rem;
  border: 0.1rem solid #000;
}
.section-about__link:hover {
  color: #fff;
  background-color: #000;
}
@media screen and (min-width: 1680px) {
  .section-about__link {
    height: 1.5625vw;
    padding: 0 0.78125vw;
    border-radius: 26.04167vw;
  }
}

.section-service {
  position: relative;
  min-height: 200vw;
  margin-bottom: 26rem;
  padding: 40rem 1rem 0;
}
@media screen and (min-width: 1024px) {
  .section-service {
    min-height: 75vw;
    margin-bottom: 25.52083vw;
    padding: 20.83333vw 0.52083vw 0;
  }
}
@media screen and (min-width: 1920px) {
  .section-service {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.section-service__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  pointer-events: none;
}
@media screen and (min-width: 768px) {
  .section-service__inner {
    height: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .section-service__inner {
    height: 120%;
  }
}
.section-service__sticky {
  position: sticky;
  top: 0;
  height: 100dvh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 3rem;
  margin: 0 auto;
  padding: 0 3rem;
  width: 100%;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .section-service__sticky {
    gap: 0 6rem;
    padding: 0 6rem;
  }
}
@media screen and (min-width: 1024px) {
  .section-service__sticky {
    grid-template-columns: repeat(4, 1fr);
    gap: 0 5.20833vw;
    padding: 0 7.8125vw;
  }
}
@media screen and (min-width: 1240px) {
  .section-service__sticky {
    gap: 0 7.8125vw;
    padding: 0 7.8125vw;
  }
}
.section-service__video {
  position: relative;
  grid-column: 1/span 2;
  height: 80%;
}
@media screen and (min-width: 1024px) {
  .section-service__video {
    grid-column: 1/span 4;
  }
}
.section-service__video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-service__list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  mix-blend-mode: difference;
}
.section-service__list--left {
  position: fixed;
  bottom: 52%;
}
.section-service__list--right {
  position: absolute;
  right: 1rem;
  text-align: right;
}
@media screen and (min-width: 1024px) {
  .section-service__list--right {
    right: 0.52083vw;
  }
}
@media screen and (min-width: 1920px) {
  .section-service__list--right {
    right: 1rem;
  }
}
.section-service__item {
  font-size: 3rem;
  letter-spacing: -0.05em;
  line-height: 0.9;
  color: #fff;
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  .section-service__item {
    font-size: 7.8125vw;
  }
}
@media screen and (min-width: 1024px) {
  .section-service__item {
    font-size: 5.20833vw;
  }
}
.section-service__list--left .section-service__item {
  position: absolute;
  bottom: 0;
  transform: scale(0);
}
.section-service__list--right .section-service__item {
  position: sticky;
  top: 52dvh;
}
.section-service__space {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.section-service__text {
  display: block;
  transform-origin: 100% 0%;
}

.section-partner {
  overflow: hidden;
}
.section-partner__list, .section-partner__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-partner__list {
  width: 100%;
}
.section-partner__item {
  font-size: 3rem;
  letter-spacing: -0.05em;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .section-partner__item {
    font-size: 5.20833vw;
    line-height: 0.95;
  }
}
@media screen and (min-width: 1024px) {
  .section-partner__item {
    -moz-column-gap: 0.52083vw;
         column-gap: 0.52083vw;
    flex-direction: row;
    width: 100%;
    font-size: 3.125vw;
    line-height: 0.95;
  }
}
@media screen and (min-width: 1920px) {
  .section-partner__item {
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
}
.section-partner__item--reverse {
  flex-direction: column-reverse;
}
@media screen and (min-width: 1024px) {
  .section-partner__item--reverse {
    flex-direction: row-reverse;
  }
}
.section-partner__column {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .section-partner__column {
    flex: 0 0 50%;
  }
}
@media screen and (min-width: 1024px) {
  .section-partner__column--left {
    justify-content: flex-end;
  }
  .section-partner__item--reverse .section-partner__column--left {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1024px) {
  .section-partner__item--reverse .section-partner__column--right {
    justify-content: flex-end;
  }
}
.section-partner__logo {
  display: flex;
  max-width: 35vw;
  height: 0.85em;
  margin: 0.2rem 0;
}
@media screen and (min-width: 1024px) {
  .section-partner__logo {
    max-width: 8vw;
    height: 0.55em;
    margin: 0;
  }
}
.section-partner__logo img {
  width: auto;
  height: 100%;
}

.floating {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
  width: 100%;
  color: #fff;
}
.floating.is-blended {
  mix-blend-mode: difference;
}
.is-nav-open .floating {
  opacity: 0;
}
.floating__link {
  display: block;
}
.floating__logo {
  position: absolute;
}
.floating__logo svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
}
.floating__logo--left {
  top: calc(50% - 4.53333vw);
  left: 1rem;
  width: 51.73333vw;
  height: 9.06667vw;
  transform-origin: 0% 50%;
  transform: scale(0.4072, 0.4072);
}
@media screen and (min-width: 1024px) {
  .floating__logo--left {
    top: calc(50% - 4.6875vw);
    left: 0.52083vw;
    width: 54.01042vw;
    height: 9.375vw;
    transform: scale(0.1215, 0.1215);
  }
}
@media screen and (min-width: 1920px) {
  .floating__logo--left {
    left: 1rem;
  }
}
.is-load .floating__logo--left {
  transform: none;
}
.floating__logo--center {
  top: calc(50% - 4.53333vw);
  left: calc(60% - 3.86667vw);
  width: 7.73333vw;
  height: 9.06667vw;
  transform: translate(-27.8333px, 0px) scale(0.4135, 0.4135);
  transform-origin: 0% 50%;
}
@media screen and (min-width: 1024px) {
  .floating__logo--center {
    top: calc(50% - 4.79167vw);
    left: calc(60% - 4.03646vw);
    width: 8.07292vw;
    height: 9.58333vw;
    transform: translate(-163px, 0px) scale(0.1161, 0.1161);
  }
  .is-load .floating__logo--center {
    transform: none;
  }
}
.floating__logo--right {
  top: calc(50% - 4.53333vw);
  right: 1rem;
  width: 31.46667vw;
  height: 9.06667vw;
  transform: scale(0.4068, 0.4068);
  transform-origin: 100% 50%;
}
@media screen and (min-width: 1024px) {
  .floating__logo--right {
    top: calc(50% - 4.79167vw);
    right: 0.52083vw;
    width: 33.07292vw;
    height: 9.58333vw;
    transform: scale(0.1213, 0.1213);
  }
  .is-load .floating__logo--right {
    transform: none;
  }
}
@media screen and (min-width: 1920px) {
  .floating__logo--right {
    right: 1rem;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 30;
  pointer-events: none;
  -webkit-backdrop-filter: blur(6rem);
          backdrop-filter: blur(6rem);
}