/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  vertical-align: top;
}

input, select, button {
  font: inherit;
  color: inherit;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
}

* {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body,
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: InterWeb, sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
  color: #000;
  overflow-x: hidden;
  background-color: #fff;
  min-height: 8000px;
}

::-moz-selection {
  background-color: #000;
  color: #fff;
  text-shadow: none;
}

::selection {
  background-color: #000;
  color: #fff;
  text-shadow: none;
}

#wrap {
  min-width: 320px;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

@font-face {
  font-family: InterWeb;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Inter-Bold.db4fc67.woff) format("woff"), url(/_nuxt/fonts/Inter-Bold.15f1c0b.woff2) format("woff2");
}
.header {
  position: fixed;
  z-index: 9;
}
@media screen and (min-width: 1024px) {
  .header {
    top: 0.52083vw;
    right: 0.52083vw;
  }
}
@media screen and (min-width: 1920px) {
  .header {
    top: 1rem;
    right: 1rem;
  }
}

.nav {
  color: #fff;
}
.nav__list {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
@media screen and (min-width: 1024px) {
  .nav__list {
    flex-direction: row;
    -moz-column-gap: 0.78125vw;
         column-gap: 0.78125vw;
    padding: 0;
  }
}
.nav__link {
  position: relative;
  display: flex;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: currentColor;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .nav__link {
    font-size: 1.51042vw;
  }
}
@media screen and (min-width: 1920px) {
  .nav__link {
    line-height: 0.7;
  }
}
.nav__link::before {
  display: none;
  content: "";
  position: absolute;
  bottom: -0.8rem;
  left: 0;
  width: 100%;
  height: 0.3rem;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.8s cubic-bezier(0.32, 0.94, 0.6, 1);
}
.nav__item.is-active .nav__link::before {
  transform: scaleX(1);
  transform-origin: left;
}
@media screen and (min-width: 1024px) {
  .nav__link::before {
    display: block;
  }
}
.nav__link:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.section-home {
  height: 300lvh;
}
.section-home__inner {
  position: relative;
  padding-bottom: 50lvh;
  height: 100%;
}
.section-home__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.section-home__sticky {
  position: sticky;
  top: 0;
  height: 100lvh;
  overflow: hidden;
}
.section-home__list {
  z-index: 1;
}
.section-home__list--top {
  position: absolute;
  top: 2.13333vw;
  left: 0.4rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .section-home__list--top {
    top: 0.52083vw;
    left: 0.26042vw;
  }
}
@media screen and (min-width: 1920px) {
  .section-home__list--top {
    top: 1rem;
    left: 0.4rem;
  }
}
.section-home__list--bottom {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: calc(50dvh + 4vw);
  padding-right: 2.66667vw;
}
@media screen and (min-width: 768px) {
  .section-home__list--bottom {
    padding-right: 1.5625vw;
  }
}
@media screen and (min-width: 1024px) {
  .section-home__list--bottom {
    margin-top: calc(50dvh + 1.04167vw);
    padding-right: 0.72917vw;
  }
}
.section-home__item {
  display: flex;
  font-size: 6rem;
  letter-spacing: -0.07em;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  transform: scale(0);
}
@media screen and (min-width: 768px) {
  .section-home__item {
    font-size: 13.54167vw;
  }
}
@media screen and (min-width: 1024px) {
  .section-home__item {
    font-size: 10.41667vw;
  }
}
.section-home__item:not(:first-child) {
  top: 0;
  left: 0;
}
.section-home__item.is-visible {
  transform: scale(1);
}
.section-home__list--top .section-home__item {
  line-height: 0.85;
}
@media screen and (min-width: 1024px) {
  .section-home__list--top .section-home__item {
    line-height: 0.77;
  }
}
@media screen and (min-width: 1920px) {
  .section-home__list--top .section-home__item {
    line-height: 0.73;
  }
}
.section-home__list--bottom .section-home__item {
  line-height: 0.79;
  white-space: nowrap;
}
.section-home__videos {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.section-home__videos::before, .section-home__videos::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.section-home__videos::before {
  opacity: 0;
  -webkit-backdrop-filter: blur(6rem);
          backdrop-filter: blur(6rem);
  transition: opacity 0.6s 0.8s;
}
.section-home__videos.is-visible::before {
  opacity: 0;
}
.section-home__videos::after {
  background-color: rgba(0, 0, 0, 0.2);
}
.section-home__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
  -webkit-mask-image: -webkit-radial-gradient(#fff, #000);
  will-change: transform;
}
.section-home__video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: opacity 0.4s;
}

.section-about {
  margin-top: 1rem;
  margin-bottom: 11.7rem;
}
@media screen and (min-width: 1024px) {
  .section-about {
    margin-top: 1.04167vw;
    margin-bottom: 10.9375vw;
  }
}
@media screen and (min-width: 1920px) {
  .section-about {
    margin-top: 2rem;
  }
}
.section-about__headline {
  margin-bottom: 7rem;
  padding-right: 0.5rem;
  font-size: 6rem;
  letter-spacing: -0.07em;
  line-height: 0.85;
}
@media screen and (min-width: 768px) {
  .section-about__headline {
    font-size: 13.54167vw;
  }
}
@media screen and (min-width: 1024px) {
  .section-about__headline {
    margin-bottom: 6.09375vw;
    padding-left: 0;
    padding-right: 0.52083vw;
    font-size: 10.41667vw;
    line-height: 0.77;
  }
}
@media screen and (min-width: 1920px) {
  .section-about__headline {
    padding-right: 1rem;
    line-height: 0.73;
  }
}
.headline__row--flex {
  display: flex;
}
.headline__row--flex .headline__word:nth-child(2) {
  margin-left: auto;
  margin-top: 20.5135vh;
}

.section-about__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 3rem;
  margin: 0 auto;
  padding: 0 3rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .section-about__grid {
    gap: 0 6rem;
    padding: 0 6rem;
  }
}
@media screen and (min-width: 1024px) {
  .section-about__grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 0 5.20833vw;
    padding: 0 7.8125vw;
  }
}
@media screen and (min-width: 1240px) {
  .section-about__grid {
    gap: 0 7.8125vw;
    padding: 0 7.8125vw;
  }
}
.section-about__content {
  grid-column: 1/span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .section-about__content {
    grid-column: 3/span 1;
    align-items: flex-start;
  }
}
.section-about__description {
  padding-bottom: 1.8rem;
  font-size: 2rem;
  line-height: 1;
  letter-spacing: -0.05em;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  .section-about__description {
    padding-bottom: 1.40625vw;
    font-size: 2.08333vw;
    text-align: left;
  }
}
.section-about__link {
  align-items: center;
  border-radius: 50rem;
  color: currentColor;
  display: flex;
  font-size: 1.6rem;
  height: 3rem;
  justify-content: center;
  line-height: 1;
  padding: 0 1.5rem;
  border: 0.1rem solid #000;
}
.section-about__link:hover {
  background-color: #000;
  color: #fff;
}
@media screen and (min-width: 1680px) {
  .section-about__link {
    height: 1.5625vw;
    padding: 0 0.78125vw;
    border-radius: 26.04167vw;
  }
}

.floating-logo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  width: 100%;
}
.floating-logo.is-blended {
  mix-blend-mode: difference;
}
.floating-logo__title {
  position: absolute;
  color: #fff;
}
.floating-logo__title svg {
  fill: currentColor;
  width: 100%;
  height: 100%;
}
.floating-logo__title--left {
  top: calc(50% - 4.53333vw);
  left: 1rem;
  width: 51.73333vw;
  height: 9.06667vw;
  transform: scale(0.1215, 0.1215);
  transform-origin: 0% 50%;
}
@media screen and (min-width: 1024px) {
  .floating-logo__title--left {
    top: calc(50% - 4.6875vw);
    left: 0.52083vw;
    width: 54.01042vw;
    height: 9.375vw;
  }
}
@media screen and (min-width: 1920px) {
  .floating-logo__title--left {
    left: 1rem;
  }
}
.floating-logo__title--center {
  top: calc(50% - 4.53333vw);
  left: calc(60% - 3.86667vw);
  width: 7.73333vw;
  height: 9.06667vw;
  transform: translate(-163px, 0px) scale(0.1161, 0.1161);
  transform-origin: 0% 50%;
}
@media screen and (min-width: 1024px) {
  .floating-logo__title--center {
    top: calc(50% - 4.79167vw);
    left: calc(60% - 4.03646vw);
    width: 8.07292vw;
    height: 9.58333vw;
  }
}
.floating-logo__title--right {
  top: calc(50% - 4.53333vw);
  right: 1rem;
  width: 31.46667vw;
  height: 9.06667vw;
  transform: scale(0.1213, 0.1213);
  transform-origin: 100% 50%;
}
@media screen and (min-width: 1024px) {
  .floating-logo__title--right {
    top: calc(50% - 4.79167vw);
    right: 0.52083vw;
    width: 33.07292vw;
    height: 9.58333vw;
  }
}
@media screen and (min-width: 1920px) {
  .floating-logo__title--right {
    right: 1rem;
  }
}