.loading {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: $z-index--loading;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100svh;
	padding: 1rem;
	background-color: $color-white;
	pointer-events: none;

	@include desktop {
		padding: .52083vw 0;
	}

	@include desktop-large {
		padding: 1rem 0;
	}

	&__content {
		display: flex;
		width: 100%;
		font-size: 6.25vw;
		line-height: .8;
		letter-spacing: -.05em;
		text-transform: uppercase;

		@include not-mobile {
			font-size: 4.16667vw;
		}

		@include desktop {
			font-size: 2.60417vw;
		}

		&:nth-child(1) {
			justify-content: center;
			text-align: center;
		}
	}
}

.marquee {
	display: flex;
	width: 100%;

	&__inner {
		display: flex;
	}

	&__texts {
		display: flex;
		animation-name: marquee;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-duration: 5s;
	}

	&__text {
		column-gap: .7em;
		display: flex;
		padding-left: .7em;
		white-space: nowrap;
	}
}

@keyframes marquee {
	0% {
		transform: translate(-100%, 0px);
	}

	100% {
		transform: translate(-200%, 0px);
	}
}

.section-brand {
	height: 300lvh;

	&__inner {
		position: relative;
		height: 100%;
		padding-bottom: 50lvh;
	}

	&__content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__sticky {
		position: sticky;
		top: 0;
		height: 100lvh;
		overflow: hidden;
	}

	&__list {
		z-index: 9;

		&--left {
			position: absolute;
			top: 2.13333vw;
			left: .4rem;
			display: flex;
			flex-direction: column;

			@include desktop {
				top: .52083vw;
				left: .26042vw;
			}

			@include desktop-large {
				top: 1rem;
				left: .4rem;
			}
		}

		&--right {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			margin-top: calc(50dvh + 4vw);
			padding-right: 2.66667vw;

			@include not-mobile {
				padding-right: 1.5625vw;
			}

			@include desktop {
				margin-top: calc(50dvh + 1.04167vw);
				padding-right: .72917vw;
			}
		}
	}

	&__item {
		display: flex;
		font-size: 6rem;
		letter-spacing: -.07em;
		color: $color-white;
		text-transform: uppercase;
		white-space: nowrap;
		transform: scale(0);

		@include not-mobile {
			font-size: 13.54167vw;
		}

		@include desktop {
			font-size: 10.41667vw;
		}

		&:not(:first-child) {
			top: 0;
			left: 0;
		}

		.section-brand__list--left & {
			line-height: .85;
			transform-origin: left top;

			@include desktop {
				line-height: .77;
			}

			@include desktop-large {
				line-height: .73;
			}
		}

		.section-brand__list--right & {
			line-height: .79;
			white-space: nowrap;
			transform-origin: right top;
		}
	}

	&__videos {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 6;
			background-color: rgba(0, 0, 0, .2);
		}
	}

	&__video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		-webkit-mask-image: -webkit-radial-gradient($color-white, $color-black);

		&:nth-child(1) {
			z-index: 5;
		}

		&:nth-child(2) {
			z-index: 4;
		}

		&:nth-child(3) {
			z-index: 3;
		}

		&:nth-child(4) {
			z-index: 2;
		}

		&:nth-child(5) {
			z-index: 1;
		}

		&:nth-child(6) {
			z-index: 0;
		}

		video {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100dvh;
			object-fit: cover;
			transition: opacity .4s;
		}
	}

	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: $z-index--overlay;
		backdrop-filter: blur(6rem);
		pointer-events: none;
	}
}

.section-about {
	margin: 1rem 0 11.7rem;

	@include desktop {
		margin: 1.04167vw 0 10.9375vw;
	}

	@include desktop-large {
		margin-top: 2rem;
	}

	&__headline {
		margin-bottom: 7rem;
		padding-right: .5rem;
		font-size: 6rem;
		letter-spacing: -.07em;
		line-height: .85;

		@include not-mobile {
			font-size: 13.54167vw;
		}

		@include desktop {
			margin-bottom: 6.09375vw;
			padding-right: .52083vw;
			font-size: 10.41667vw;
			line-height: .77;
		}

		@include desktop-large {
			padding-right: 1rem;
			line-height: .73;
		}

		@at-root .headline {
			&__row {
				&--flex {
					display: flex;
					justify-content: space-between;

					@include desktop {
						flex-direction: column;
					}
				}
			}

			&__word {
				.headline__row--flex &:nth-child(2) {
					@include desktop {
						align-self: flex-end;
					}
				}
			}
		}
	}

	&__content {
		padding: 0 3rem;

		@include not-mobile {
			padding: 0 6rem;
		}

		@include desktop {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 0 5.20833vw;
			padding: 0 7.8125vw;
		}

		@include desktop-medium {
			gap: 0 7.8125vw;
			padding: 0 7.8125vw;
		}
	}

	&__textbox {
		display: flex;
		flex-direction: column;
		align-items: center;

		@include desktop {
			grid-column-start: 3;
			grid-column-end: 4;
			align-items: flex-start;
		}
	}

	&__description {
		padding-bottom: 1.8rem;
		font-size: 2rem;
		line-height: 1;
		letter-spacing: -.05em;
		text-align: center;
		text-transform: uppercase;

		@include desktop {
			padding-bottom: 1.40625vw;
			font-size: 2.08333vw;
			text-align: left;
		}
	}

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 3rem;
		padding: 0 1.5rem;
		font-size: 1.6rem;
		line-height: 1;
		color: currentColor;
		border: 1px solid $color-black;
		border-radius: 50rem;

		&:hover {
			color: $color-white;
			background-color: $color-black;
		}

		@media screen and (min-width: 1680px) {
			height: 1.5625vw;
			padding: 0 .78125vw;
			border-radius: 26.04167vw;
		}
	}
}

.section-service {
	position: relative;
	min-height: 200vw;
	padding: 0 1rem;

	@include not-mobile {
		margin-bottom: 26rem;
	}

	@include desktop {
		min-height: 75vw;
		padding: 0 .52083vw;
	}

	@include desktop-large {
		padding: 0 1rem;
	}

	&__content {
		width: 100%;
		height: 300dvh;
	}

	&__sticky {
		position: sticky;
		top: 0;
		height: 100dvh;
		padding: 0 3rem;

		@include desktop {
			padding: 0 7.8125vw;
		}
	}

	&__video {
		position: relative;
		top: 50%;
		height: 80%;
		transform: translateY(-50%);
		margin: 0 -1rem;

		@include desktop {
			margin: 0 -.52083vw;
		}

		@include desktop-large {
			margin: 0 -1rem;
		}

		video {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__list {
		z-index: 1;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		mix-blend-mode: difference;

		&--left {
			position: fixed;
			bottom: 53%;
		}

		&--right {
			position: absolute;
			right: 1rem;
			top: 52%;
			text-align: right;

			&.is-fixed {
				position: fixed;
			}

			@include desktop {
				right: .52083vw;
			}

			@include desktop-large {
				right: 1rem;
			}
		}
	}

	&__item {
		font-size: 3.6rem;
		letter-spacing: -.05em;
		line-height: .9;
		color: $color-white;
		white-space: nowrap;

		@include not-mobile {
			font-size: 7.8125vw;
		}

		@include desktop {
			font-size: 5.20833vw;
		}

		.section-service__list--left & {
			position: absolute;
			bottom: 0;
			transform: scale(0);
			transform-origin: left bottom;
		}

		.section-service__list--right & {
			position: sticky;
			top: 52dvh;
			transform-origin: right top;
		}
	}

	&__space {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__text {
		display: block;
		transform-origin: right top;
	}
}

.section-partner {
	overflow: hidden;

	&__list,
	&__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__list {
		width: 100%;
	}

	&__item {
		font-size: 3rem;
		letter-spacing: -.05em;
		line-height: 1;

		@include not-mobile {
			font-size: 5.20833vw;
			line-height: .95;
		}

		@include desktop {
			column-gap: .52083vw;
			flex-direction: row;
			width: 100%;
			font-size: 3.125vw;
			line-height: .95;
		}

		@include desktop-large {
			column-gap: 1rem;
		}

		&--reverse {
			flex-direction: column-reverse;

			@include desktop {
				flex-direction: row-reverse;
			}
		}
	}

	&__column {
		display: flex;
		align-items: center;

		@include desktop {
			flex: 0 0 50%;
		}

		&--left {
			@include desktop {
				justify-content: flex-end;

				.section-partner__item--reverse & {
					justify-content: flex-start;
				}
			}
		}


		&--right {
			@include desktop {
				.section-partner__item--reverse & {
					justify-content: flex-end;
				}
			}
		}
	}

	&__logo {
		display: flex;
		max-width: 35vw;
		height: .85em;
		margin: .2rem 0;

		@include desktop {
			max-width: 8vw;
			height: .55em;
			margin: 0;
		}

		img {
			width: auto;
			height: 100%;
		}
	}
}
