.loading {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	height: 100svh;
	justify-content: space-between;
	left: 0;
	padding: 1rem;
	position: fixed;
	right: 0;
	top: 0;
	z-index: $z-index--loading;
	@include desktop {
		padding: .52083vw 0;	
	}
	@include desktop-large {
		padding: 1rem 0;
	}
	&__content {
		font-size: 6.25vw;
    line-height: .8;
    letter-spacing: -.05em;
		text-transform: uppercase;
		display: flex;
    // transition: transform .8s cubic-bezier(.32,.94,.6,1);
    width: 100%;
		@include not-mobile {
			font-size: 4.16667vw;
		}
		@include desktop {
			font-size: 2.60417vw;
		}
		&:nth-child(1) {
			justify-content: center;
			text-align: center;
		}
		&:nth-child(2) {
			// transform: translateY(110%);
		}
		.is-visible & {
			// transform: translateY(0);
		}
	}
}
.marquee {
	display: flex;
	width: 100%;
	&__inner {
		display: flex;
	}
	&__texts {
		display: flex;
		animation-name: marquee;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
		animation-duration: 5s;
	}
	&__text {
	    column-gap: .7em;
    display: flex;
    padding-left: .7em;
    white-space: nowrap;
		span {}
	}
}

@keyframes marquee {
  0% {
    transform: translate(-100%, 0px);
  }

  100% {
    transform: translate(-200%, 0px);
  }
}

.section-home {
	height: 300lvh;

	&__inner {
		position: relative;
		padding-bottom: 50lvh;
		height: 100%;
	}

	&__content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__sticky {
		position: sticky;
		top: 0;
		height: 100lvh;
		overflow: hidden;
	}

	&__list {
		z-index: 1;

		&--top {
			position: absolute;
			top: 2.13333vw;
			left: .4rem;
			display: flex;
			flex-direction: column;

			@include desktop {
				top: .52083vw;
				left: .26042vw;
			}

			@include desktop-large {
				top: 1rem;
				left: .4rem;
			}
		}

		&--bottom {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			margin-top: calc(50dvh + 4vw);
			padding-right: 2.66667vw;

			@include not-mobile {
				padding-right: 1.5625vw;
			}

			@include desktop {
				margin-top: calc(50dvh + 1.04167vw);
				padding-right: .72917vw;
			}
		}
	}

	&__item {
		display: flex;
		font-size: 6rem;
		letter-spacing: -.07em;
		color: #fff;
		text-transform: uppercase;
		white-space: nowrap;
		transform: scale(0);

		@include not-mobile {
			font-size: 13.54167vw;
		}

		@include desktop {
			font-size: 10.41667vw;
		}

		&:not(:first-child) {
			// position: absolute;
			top: 0;
			left: 0;
		}

		&.is-visible {
			// transform: scale(1);
		}

		.section-home__list--top & {
			line-height: .85;

			@include desktop {
				line-height: .77;
			}

			@include desktop-large {
				line-height: .73;
			}
		}

		.section-home__list--bottom & {
			line-height: .79;
			white-space: nowrap;
		}
	}

	&__videos {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, .2);
		}
	}

	&__video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 101%;
		-webkit-mask-image: -webkit-radial-gradient(#fff, #000);
		will-change: transform;

		video {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: opacity .4s;
		}
	}
}

.section-about {
	margin-top: 1rem;
	margin-bottom: 11.7rem;

	@include desktop {
		margin-top: 1.04167vw;
		margin-bottom: 10.9375vw;
	}

	@include desktop-large {
		margin-top: 2rem;
	}

	&__headline {
		margin-bottom: 7rem;
		padding-right: .5rem;
		font-size: 6rem;
		letter-spacing: -.07em;
		line-height: .85;

		@include not-mobile {
			font-size: 13.54167vw;
		}

		@include desktop {
			margin-bottom: 6.09375vw;
			padding-left: 0;
			padding-right: .52083vw;
			font-size: 10.41667vw;
			line-height: .77;
		}

		@include desktop-large {
			padding-right: 1rem;
			line-height: .73;
		}

		@at-root .headline {
			&__row {
				&--flex {
					display: flex;
					// justify-content: space-between;
				}
			}

			&__word {
				.headline__row--flex &:nth-child(2) {
					margin-left: auto;
					@include desktop {
						margin-top: 20.5135vh;
					}
				}
			}
		}
	}

	&__grid {
		@include grid;
	}

	&__content {
		grid-column: 1 / span 2;
		display: flex;
		flex-direction: column;
		align-items: center;

		@include desktop {
			grid-column: 3 / span 1;
			align-items: flex-start;
		}
	}

	&__description {
		padding-bottom: 1.8rem;
		font-size: 2rem;
		line-height: 1;
		letter-spacing: -.05em;
		text-align: center;
		text-transform: uppercase;

		@include desktop {
			padding-bottom: 1.40625vw;
			font-size: 2.08333vw;
			text-align: left;
		}
	}

	&__link {
		align-items: center;
		border-radius: 50rem;
		color: currentColor;
		display: flex;
		font-size: 1.6rem;
		height: 3rem;
		justify-content: center;
		line-height: 1;
		padding: 0 1.5rem;
		border: .1rem solid #000;

		&:hover {
			background-color: #000;
			color: #fff;
		}

		@media screen and (min-width: 1680px) {
			height: 1.5625vw;
			padding: 0 .78125vw;
			border-radius: 26.04167vw;
		}
	}
}

.section-service {
	margin-bottom: 26rem;
	min-height: 200vw;
	padding: 40rem 1rem 0;
	position: relative;

	@include desktop {
		margin-bottom: 25.52083vw;
		min-height: 75vw;
		padding: 20.83333vw .52083vw 0;
	}

	@include desktop-large {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	&__inner {
		height: 120%;
		left: 0;
		pointer-events: none;
		position: absolute;
		top: 0;
		width: 100%;

		@include not-mobile {
			height: 100%;
		}

		@include desktop {
			height: 120%;
		}
	}

	&__sticky {
		@include grid;
		position: sticky;
		top: 0;
		height: 100dvh;
		align-items: center;

	}

	&__video {
		position: relative;
		grid-column: 1 / span 2;
		height: 80%;

		@include desktop {
			grid-column: 1 / span 4;
		}

		video {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		mix-blend-mode: difference;

		&--left {
			position: fixed;
			bottom: 52%;
		}

		&--right {
			position: absolute;
			right: 1rem;
			text-align: right;

			@include desktop {
				right: .52083vw;
			}

			@include desktop-large {
				right: 1rem;
			}
		}
	}

	&__item {
		font-size: 3rem;
		letter-spacing: -.05em;
		line-height: .9;
		color: #fff;
		white-space: nowrap;

		@include not-mobile {
			font-size: 7.8125vw;
		}

		@include desktop {
			font-size: 5.20833vw;
		}

		.section-service__list--left & {
			position: absolute;
			bottom: 0;
			transform: scale(0);

			&:nth-child(1) {
				// transform: scale(1);
			}
		}

		.section-service__list--right & {
			position: sticky;
			top: 52dvh;
		}
	}

	&__space {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__text {
		display: block;
		// transform:scaleX(0);
		// transition: 0.5s 0.5s;
		// transform-origin:left;
		// transition: transform .5s;
		transform-origin: 100% 0%;

		.section-service__list--right .section-service__item.active~.section-service__item & {
			// transform: scale(0);
		}
	}
}

.section-partner {
	overflow: hidden;

	&__list,
	&__item {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__list {
		width: 100%;
	}

	&__item {
		font-size: 3rem;
		letter-spacing: -.05em;
		line-height: 1;

		@include not-mobile {
			font-size: 5.20833vw;
			line-height: .95;
		}

		@include desktop {
			column-gap: .52083vw;
			flex-direction: row;
			width: 100%;
			font-size: 3.125vw;
			line-height: .95;
		}

		@include desktop-large {
			column-gap: 1rem;
		}
		&--reverse {
			flex-direction: column-reverse;
			@include desktop {
				flex-direction: row-reverse;
			}
		}
	}

	&__column {
		display: flex;
		align-items: center;

		@include desktop {
			flex: 0 0 50%;
		}

		&--left {
			@include desktop {
				justify-content: flex-end;
				.section-partner__item--reverse & {
					justify-content: flex-start;
				}
			}
		}


		&--right {
			@include desktop {
				.section-partner__item--reverse & {
					justify-content: flex-end;
				}
			}
		}
	}

	&__name {}

	&__logo {
		display: flex;
		height: .85em;
		margin: .2rem 0;
		max-width: 35vw;

		@include desktop {
			height: .55em;
			margin: initial;
			max-width: 8vw;
		}

		img {
			width: auto;
			height: 100%;
		}
	}
}


.floating {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: $z-index--logo;
	width: 100%;
	color: #fff;
	&.is-blended {
		mix-blend-mode: difference;
	}
	.is-nav-open & {
		opacity: 0;
	}
	&__link {
	display: block;
	}
	&__logo {
		position: absolute;
		

		svg {
			fill: currentColor;
			width: 100%;
			height: 100%;
		}

		&--left {
			top: calc(50% - 4.53333vw);
			left: 1rem;
			width: 51.73333vw;
			height: 9.06667vw;
			transform-origin: 0% 50%;
			transform: scale(0.4072, 0.4072);
			
			@include desktop {
				top: calc(50% - 4.6875vw);
				left: .52083vw;
				width: 54.01042vw;
				height: 9.375vw;
				transform: scale(0.1215, 0.1215);
			}

			@include desktop-large {
				left: 1rem;
			}
			.is-load & {
				transform: none;
			}
		}

		&--center {
			top: calc(50% - 4.53333vw);
			left: calc(60% - 3.86667vw);
			width: 7.73333vw;
			height: 9.06667vw;
			transform: translate(-27.8333px, 0px) scale(0.4135, 0.4135);
			transform-origin: 0% 50%;

			@include desktop {
				top: calc(50% - 4.79167vw);
				left: calc(60% - 4.03646vw);
				width: 8.07292vw;
				height: 9.58333vw;
				transform: translate(-163px, 0px) scale(0.1161, 0.1161);
				.is-load & {
					transform: none;
				}
			}
		}

		&--right {
			top: calc(50% - 4.53333vw);
			right: 1rem;
			width: 31.46667vw;
			height: 9.06667vw;
			transform: scale(0.4068, 0.4068);
			transform-origin: 100% 50%;

			@include desktop {
				top: calc(50% - 4.79167vw);
				right: .52083vw;
				width: 33.07292vw;
				height: 9.58333vw;
				transform: scale(0.1213, 0.1213);
				.is-load & {
					transform: none;
				}
			}

			@include desktop-large {
				right: 1rem;
			}
		}
	}
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: $z-index--overlay;
	pointer-events: none;
	backdrop-filter: blur(6rem);
}
